@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hamburger-toggle {
    @apply [&>div]:h-0 [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
  }
}

@font-face {
  font-family: "Gentium";
  src: url("../src/assets/fonts/GentiumBookPlus-Regular.ttf");
}

.hero-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.animated-blob {
  animation: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: translate(6vh, 0vh) rotate(150deg) scale(1.8);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(0.8);
  }
}
